// Colors
$primary-color: #c8a0fd;
$secondary-color: #000000;

// Text colors
$primary-text-color: #000000;
$secondary-text-color: rgba(0, 0, 0, 0.5);

// Font families
$primary-font-family: "Ubuntu", sans-serif;
