// App pools info page
.app-pools-info-page {
  overflow-x: hidden;

  .loading-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 800ms linear infinite;
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  // Hero section
  .hero-section {
    width: 100%;
    min-height: 85vh;
    padding: 250px 0 150px 0;
    background: linear-gradient(180deg, #dcc2ff 0%, #f6f0ff 100%);
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1024px) {
      padding: 220px 0 100px 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin-bottom: 15px;
        font-size: 38px;
        text-align: center;

        @media only screen and (max-width: 1024px) {
          font-size: 32px;
        }
      }

      .top-desc {
        margin-bottom: 50px;
        font-size: 17px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;
        color: $secondary-text-color;

        @media only screen and (max-width: 1024px) {
          font-size: 16px;
          line-height: 26px;
        }
      }

      .query-box {
        width: 100%;
        padding: 35px;
        border: 4px solid $secondary-color;
        background: #f6f0ff;
        box-shadow: 4px 4px 0 $secondary-color;
        border-radius: 35px;

        p {
          margin-bottom: 15px;
          font-size: 17px;
          font-weight: 700;
          line-height: 27px;
          color: $secondary-text-color;

          @media only screen and (max-width: 1024px) {
            font-size: 16px;
            line-height: 26px;
          }
        }

        h3 {
          font-size: 24px;

          span {
            font-size: 17px;
            color: $secondary-text-color;

            @media only screen and (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }

      }

      .table {
        width: 100%;

        .table-title-row {
          margin-bottom: 20px;
          width: 100%;
          padding: 15px;
          display: grid;
          grid-template-columns: 2fr 2.5fr 1fr 1fr;
          grid-gap: 35px;

          @media only screen and (max-width: 1024px) {
            display: none;
          }

          p {
            font-size: 14px;
            font-weight: 700;
            color: $secondary-text-color;
          }
        }

        .table-box-rows {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;

          .table-box-row {
            width: 100%;
            border: 5px solid $secondary-color;
            background: #f6f0ff;
            box-shadow: 5px 5px 0 $secondary-color;
            border-radius: 35px;

            .content {
              width: 100%;
              padding: 15px;
              display: grid;
              grid-template-columns: 2fr 2.5fr 1fr 1fr;
              grid-gap: 35px;
              align-items: center;

              @media only screen and (max-width: 1024px) {
                padding: 30px;
                grid-template-columns: 1fr;
              }

              .pool {
                display: flex;
                align-items: center;

                @media only screen and (max-width: 1024px) {
                  flex-direction: column;
                }

                img {
                  margin-right: 15px;
                  width: 150px;
                  border-radius: 20px;

                  @media only screen and (max-width: 1024px) {
                    order: 2;
                    margin-top: 10px;
                    margin-right: 0;
                  }
                }

                h3 {
                  font-size: 17px;
                  font-weight: 700;
                  line-height: 27px;

                  @media only screen and (max-width: 1024px) {
                    text-align: center;
                  }
                }
              }

              p {
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;

                @media only screen and (max-width: 1024px) {
                  font-size: 16px;
                  line-height: 26px;
                }

                &.secondary {
                  color: $secondary-text-color;
                }

                span {
                  color: $secondary-text-color;

                  &.hidden {
                    display: none;

                    @media only screen and (max-width: 1024px) {
                      margin-bottom: 10px;
                      display: block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}