// App dashboard page
.app-dashboard-page {
  overflow-x: hidden;

  .loading-icon {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 800ms linear infinite;
    -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }

    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  // Hero section
  .hero-section {
    width: 100%;
    min-height: 85vh;
    padding: 250px 0 150px 0;
    background: linear-gradient(180deg, #dcc2ff 0%, #f6f0ff 100%);
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 1024px) {
      padding: 220px 0 100px 0;
    }

    .max-deposit {
      cursor: pointer;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .stats {
        margin-bottom: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;

        @media only screen and (max-width: 1024px) {
          grid-template-columns: 1fr;
          grid-gap: 50px;
        }

        .stats-left {
          width: 100%;

          h1 {
            margin-bottom: 15px;
            font-size: 38px;

            @media only screen and (max-width: 1024px) {
              font-size: 32px;
              text-align: center;
            }
          }

          p {
            font-size: 17px;
            font-weight: 700;
            line-height: 27px;
            color: $secondary-text-color;

            @media only screen and (max-width: 1024px) {
              font-size: 16px;
              line-height: 26px;
              text-align: center;
            }
          }
        }

        .stats-right {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;

          @media only screen and (max-width: 678px) {
            grid-template-columns: 1fr;
          }

          .box {
            width: 100%;
            padding: 35px;
            border: 4px solid $secondary-color;
            background: #f6f0ff;
            box-shadow: 4px 4px 0 $secondary-color;
            border-radius: 35px;

            p {
              margin-bottom: 25px;
              font-size: 17px;
              font-weight: 700;
              line-height: 27px;
              color: $secondary-text-color;

              @media only screen and (max-width: 1024px) {
                font-size: 16px;
                line-height: 26px;
              }
            }

            h3 {
              font-size: 24px;

              span {
                font-size: 17px;
                color: $secondary-text-color;

                @media only screen and (max-width: 1024px) {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }

      .low-funds {
        color: #bd1b19;
        font-size: 12px;
        margin-left: 15px;
      }

      .balance-loading {
        display: inline-block;
        margin-left: 5px;

        span {
          background-color: unset !important;
          color: unset !important;
          padding: unset !important;
          height: 15px !important;
          width: 15px !important;
        }
      }

      .permit-box,
      .query-box {
        width: 100%;
        padding: 35px;
        border: 4px solid $secondary-color;
        background: #f6f0ff;
        box-shadow: 4px 4px 0 $secondary-color;
        border-radius: 35px;

        p {
          margin-bottom: 15px;
          font-size: 17px;
          font-weight: 700;
          line-height: 27px;
          color: $secondary-text-color;

          @media only screen and (max-width: 1024px) {
            font-size: 16px;
            line-height: 26px;
          }
        }

        h3 {
          font-size: 24px;

          span {
            font-size: 17px;
            color: $secondary-text-color;

            @media only screen and (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }

        button {
          float: right;
          margin-top: 10px;
          width: 200px;
          height: 40px;
          border: 2px solid $secondary-color;
          background: $primary-color;
          box-shadow: 2px 2px 0 $secondary-color;
          border-radius: 100px;
          font-size: 14px;
          font-weight: 700;
          transition: all 0.3s ease;

          &:hover {
            box-shadow: none;
          }
        }
      }

      .pools {
        width: 100%;

        .tab-nav {
          margin-bottom: 50px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 15px;

          h3 {
            font-size: 24px;
          }

          .tab-nav-btns {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            button {
              padding: 0 18px;
              height: 30px;
              border: 2px solid $secondary-color;
              background: #f6f0ff;
              box-shadow: 2px 2px 0 $secondary-color;
              border-radius: 100px;
              font-size: 16px;
              font-weight: 700;
              transition: all 0.3s ease;

              &:hover {
                box-shadow: none;
              }

              &.active {
                background: $primary-color;
              }
            }
          }
        }

        .table {
          width: 100%;

          .table-title-row {
            margin-bottom: 20px;
            width: 100%;
            padding: 15px 25px 15px 15px;
            display: grid;
            grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 150px;

            @media only screen and (max-width: 1024px) {
              display: none;
            }

            p {
              font-size: 14px;
              font-weight: 700;
              color: $secondary-text-color;
            }
          }

          .table-box-rows {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;

            .table-box-row {
              width: 100%;
              border: 5px solid $secondary-color;
              background: #f6f0ff;
              box-shadow: 5px 5px 0 $secondary-color;
              border-radius: 35px;

              .content {
                width: 100%;
                padding: 15px 25px 15px 15px;
                display: grid;
                grid-template-columns: 3fr 1.5fr 1.5fr 1.5fr 150px;
                align-items: center;

                @media only screen and (max-width: 1024px) {
                  padding: 30px;
                  grid-template-columns: 1fr;
                  grid-gap: 35px;
                }

                .asset {
                  display: flex;
                  align-items: center;

                  @media only screen and (max-width: 1024px) {
                    flex-direction: column;
                  }

                  img {
                    margin-right: 15px;
                    width: 150px;
                    border-radius: 20px;

                    @media only screen and (max-width: 1024px) {
                      order: 2;
                      margin-top: 10px;
                      margin-right: 0;
                    }
                  }

                  h3 {
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 27px;

                    @media only screen and (max-width: 1024px) {
                      text-align: center;
                    }
                  }
                }

                p {
                  font-size: 14px;
                  line-height: 24px;
                  font-weight: 700;

                  @media only screen and (max-width: 1024px) {
                    font-size: 16px;
                  }

                  span {
                    color: $secondary-text-color;
                    display: none;

                    @media only screen and (max-width: 1024px) {
                      display: block;
                    }
                  }
                }

                button {
                  width: 100%;
                  height: 50px;
                  border: 3px solid $secondary-color;
                  background: $primary-color;
                  box-shadow: 3px 3px 0 $secondary-color;
                  border-radius: 100px;
                  font-size: 18px;
                  font-weight: 700;
                  transition: all 0.3s ease;

                  &:hover {
                    box-shadow: none;
                  }
                }
              }

              .manage {
                width: 100%;
                padding: 0 15px 15px 15px;

                .boxes {
                  width: 100%;
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  grid-gap: 10px;

                  @media only screen and (max-width: 1024px) {
                    grid-template-columns: 1fr;
                  }

                  .box {
                    width: 100%;
                    padding: 25px;
                    border: 5px solid $secondary-color;
                    background: linear-gradient(180deg,
                        #dcc2ff 0%,
                        #f6f0ff 100%);
                    border-radius: 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h3 {
                      margin-bottom: 25px;
                      font-size: 20px;
                    }

                    p {
                      font-size: 16px;
                      line-height: 26px;
                      font-weight: 700;
                    }

                    .row {
                      margin-bottom: 10px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;

                      p {
                        margin-right: 20px;
                      }

                      span {
                        padding: 5px 10px;
                        background: rgba(#bd1b19, 0.2);
                        border-radius: 100px;
                        font-size: 12px;
                        font-weight: 700;
                        color: #bd1b19;
                      }
                    }

                    .max-deposit {
                      cursor: pointer;
                    }

                    input {
                      margin-top: 10px;
                      width: 100%;
                      height: 40px;
                      padding: 0 15px;
                      background: #f6f0ff;
                      border-radius: 100px;
                      font-size: 14px;
                      font-weight: 700;
                    }

                    .input-group {
                      margin-top: 20px;
                      display: grid;
                      grid-template-columns: auto 100px;
                      grid-gap: 10px;

                      @media only screen and (max-width: 450px) {
                        grid-template-columns: 1fr;
                      }

                      input {
                        margin-top: 0;
                      }

                      button {
                        width: 100%;
                        height: 40px;
                        border: 2px solid $secondary-color;
                        background: $primary-color;
                        box-shadow: 2px 2px 0 $secondary-color;
                        border-radius: 100px;
                        font-size: 14px;
                        font-weight: 700;
                        transition: all 0.3s ease;

                        &:hover {
                          box-shadow: none;
                        }
                      }
                    }

                    .cta-btn {
                      margin-top: 20px;
                      width: 100%;
                      height: 40px;
                      border: 3px solid $secondary-color;
                      background: $primary-color;
                      box-shadow: 2px 2px 0 $secondary-color;
                      border-radius: 100px;
                      font-size: 16px;
                      font-weight: 700;
                      transition: all 0.3s ease;

                      &:hover {
                        box-shadow: none;
                      }
                    }
                  }
                }
              }

              .error {
                width: 100%;
                min-height: 190px;
                padding: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                  font-size: 16px;
                  font-weight: 700;
                  text-align: center;
                  color: $secondary-text-color;
                }
              }
            }
          }
        }
      }
    }
  }
}